<div class="panel-heading">@Model.Title</div>
<div class="panel-body">
    Post content: <strong>@Model.Content</strong>
    <br />
    <span class="label label-success">@Model.Date</span>
    <br />
    <hr>
</div>
