@model Micro_Social_Platform.Models.Post
@{
    ViewBag.Title = "Show";
}

<br />
<a href="/Posts/Index">Back to Posts.</a>
<br />
<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        Post content: <strong>@Model.Content</strong>
        <br />
        <span class="label label-success">@Model.Date</span>
        <br />
        <hr>
        <a class="btn btn-success pull-left" href="/Posts/Edit/@Model.PostId">Edit post</a>
        <form method="post" action="/Posts/Delete/@Model.PostId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right" type="submit">Delete post</button>
        </form>
    </div>
</div>


